# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'duplicati/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'Suse': {},
        'Arch': {},
        'RedHat': {},
        'Windows': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('duplicati:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.duplicati.update(os_family_map) %}

{## Merge in duplicati:lookup pillar ##}
{% set duplicati = salt['pillar.get'](
        'duplicati',
        default=default_settings.duplicati,
        merge=True
    )
%}
